# Ignore virtual environment
venv/
.env
 
# Ignore model directory (since it will be downloaded on Render)
models/
 
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd
 
# Ignore system files
.DS_Store
Thumbs.db
 
# Ignore log files
*.log
 
# Ignore uploads (optional)
uploads/
 
# Ignore static files (optional)
# Ignore all static files except script.js and style.css
static/*
!static/script.js
!static/style.css
!aii.webp
!ampp.webp
 
 
 
media/